@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
@import url('http://fonts.googleapis.com/css?family=Montserrat')
@import url('http://fonts.googleapis.com/css?family=Signika:400,700')

body
	font-family 'Open Sans', sans-serif
	font-weight 300

.content
	margin-top 10em
	float left

#sidebar
	font-family 'Signika', sans-serif
	margin-left 12em
	margin-top 5em
	float left
	width 15%


#sidebar ul
	padding 0

#sidebar li
	font-size 1.25em
	list-style-type none
	margin-top 10px

#sidebar li a, .sidebar li a:link
	text-decoration none
	color #000

#sidebar a:hover
	font-weight 700

#sidebar a:visited
	color #000

#header
	font-family 'Montserrat', sans-serif
	font-weight 700
	font-size 1.75em

#background
	position absolute
	z-index -2

.container 
	background-color white

.blur-on
	filter url(#blur)

