extend layout
block content
	.blogcontainer
		.blogindex
			h2 Posts
			table
				tr
					td
						| My First Blog Post
					td
						| July 1, 1993
				tr
					td
						| My First Blog Post
					td
						| July 1, 1993
				tr
					td
						| My First Blog Post
					td
						| July 1, 1993					

