extend layout
block content
	.content
		| Hi, my name is Claudio Wilson.
		br 
		| I'm a Computer Science student at the University of Texas.
	script.
		var back = d3.select("#background");

		var albums = [{
			"image" : "http://a3.mzstatic.com/us/r30/Music/4c/31/15/mzi.xgwabhdx.100x100-75.jpg",
			"band" : "Radiohead",
			"album" : "In Rainbows"
		}];

		var node = back.selectAll(".node")
			.data(albums)
			.enter().append("g")
			.attr("class","node")
			.attr("stroke", "black")
			.attr("stroke-width", 2);

		node.append("image")
			.attr("x", 10)
			.attr("y", 10)
			.attr("width",100)
			.attr("height", 100)
			.attr("xlink:href", function(d) {
				return d.image;
			});

	