extend layout
block content
	.content
		.container
			p Hi, my name is Claudio Wilson. 
			p I'm a Computer Science student at the University of Texas.
			|	Visiting? I'd love for you to add some album art to my background!
			form(method="post" action="/newalbum" id="albumAdd")
				input(id="albums" placeholder="Go ahead, type in an album name!")
				input(type="hidden" id="index" name="index" onclick="submitAlbum")
				#albumSelection
					img(src="http://a5.mzstatic.com/us/r30/Music/79/d3/09/mzi.nlpldxzh.100x100-75.jpg" id="album" height=100 width=100)
					#albumText
						p#albumName The Suburbs
						p#artistName Arcade Fire
				input(type="submit" value="Add This Album!")

	script.
		$(function() {
			$('#albumAdd').submit(function(e) {
				$.ajax({
					type : "POST",
					url : "/newalbum",
					data : $('#albumAdd').serialize()
				});
				e.preventDefault();
			});
		});

		$( "#albums" ).autocomplete({
			minLength : 2,
			source: function(request, response) {
				$.ajax({
					url : "/search/" + request.term,
					dataType : "json",
					success : function(data) {
						response(data.map(function(x) {
							return {
								label : x["album"],
								value : x["album"],
								artist : x["artist"],
								icon : x["image"],
								index : x["index"]
							}
						}));
					}
				});
			},
			select : function(event, ui) {
				$('#index').val(ui.item.index);
				$('#albumName').text(ui.item.value);
				$('#artistName').text(ui.item.artist)
				$('#album').attr("src", ui.item.icon);
				console.log(ui.item);
			}
		}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
			return $( "<li>" )
				.append( '<a><img src="' + item.icon + '" height="50" width="50"><span>' + item.label + '</span><br><span style="font-size:small">' + item.artist + "</span></a>" )
				.appendTo( ul );
			};

		//d3.select("#background")
			//.attr("class", "blur-on");