extend layout
block content
	.content
		.container
			p Hi, my name is Claudio Wilson. 
			p I'm a Computer Science student at the University of Texas.
			|	Visiting? Leave a mark by adding some album art to my background!
			p
				form(method="post" action="/newalbum" id="albumAdd")
					input(id="albums" placeholder="Artist? Album name?")
					span#resultText
					input(type="hidden" id="index" name="index")
					#albumSelection
						img(src="" id="album" height=100 width=100)
						#albumText
							p(class="albumName")
							p(class="artistName")
						input(id="submitAlbum" type="submit" value="Submit")
	script.
		$(function() {
			$('#albumAdd').submit(function(e) {
				$.ajax({
					type : "POST",
					url : "/newalbum",
					data : $('#albumAdd').serialize(),
					success : function(data) {
						$('#resultText').text(data["added"]);
						$('#resultText').show();
						$('#resultText').fadeOut(1500);
						changePage(numberOfPages + 1);
					},
					error : function(data) {
						$('#resultText').text(data["added"]);
						$('#resultText').show();
						$('#resultText').fadeOut(1500);
					}
				});
				e.preventDefault();
			});
		});

		$( "#albums" ).autocomplete({
			minLength : 2,
			source: function(request, response) {
				$.ajax({
					url : "/search/" + request.term,
					dataType : "json",
					success : function(data) {
						response(data.map(function(x) {
							return {
								label : x["album"],
								value : x["album"],
								artist : x["artist"],
								icon : x["image"],
								index : x["index"]
							}
						}));
					},
					error: function(result) {
						$('.ui-autocomplete-loading').removeClass("ui-autocomplete-loading");
					}
				});
			},
			select : function(event, ui) {
				$('#index').val(ui.item.index);
				$('#albumText > .albumName').text(ui.item.value);
				$('#albumText > .artistName').text(ui.item.artist)
				$('#album').attr("src", ui.item.icon);
				$('#albumSelection').show();
			}
		}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
			return $( "<li>" )
				.append( '<a><img src="' + item.icon + '" height="50" width="50"><span>' + item.label + '</span><br><span style="font-size:small">' + item.artist + "</span></a>" )
				.appendTo( ul );
			};

		//d3.select("#background")
			//.attr("class", "blur-on");