extend layout
block content
	.content
		| Hi, my name is Claudio Wilson.
		br 
		| I'm a Computer Science student at the University of Texas.
	script.

		back.selectAll("image")
			.attr("class", "blur-on");

	//- 	back.selectAll("image").transition().duration(5000)
	//- 		.attr("x", 320)
	//- 		.attr("y", 50);
	//- 