doctype html
html(lang='en')
	head
		title claudio
		script(src="https://code.jquery.com/jquery-1.9.1.js")
		script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.js")
		script(src="https://cdn.firebase.com/js/client/1.0.11/firebase.js")
		script(src="/bower_components/d3/d3.min.js")
		link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
		link(rel='stylesheet' href='/stylesheets/style.css')
	body
		svg#background
		#sidebar
				#header
					h4
						.container
							a(href="/")
								| CLAUDIO 
								br 
								| WILSON
				.container
					ul
						li
							a(href="/index") About
						li
							a(href="/blog/index") Blog
						li
							a(href="/projects") Projects
						li
							a(href="/contact") Contact
						li 
							a(href="http://www.github.com/claudiowilson") Github
						li 
							a(href="http://www.twitter.com/claudiyoh") Twitter
		#albumClick
			img(src="http://a1.mzstatic.com/us/r30/Music/v4/34/12/6e/34126ef8-6cad-f7a8-aeea-325aa0efd5a7/cover.600x600-75.jpg" id="album600")
			p(class="albumName") Needs
			p(class="artistName") Giraffage
			p Added by someone in Seoul, Korea on May 19, 2014


		script.
			var back = d3.select("#background");
			var svgHeight = $("#background").height();
			var svgWidth = $("#background").width();
			var duration = 5000;
			var currentNumAlbums = !{count};
			var maxVerticalAlbums = Math.floor(svgHeight/100);
			var maxHorizontalAlbums = Math.floor(svgWidth/100);
			var totalMaxAlbums = maxVerticalAlbums * maxHorizontalAlbums;

			back.append("defs")
				.append("filter")
				.attr("id", "blur")
				.append("feGaussianBlur")
				.attr("stdDeviation", 1.5);

			var albums = [];

			var fb = new Firebase('https://glowing-fire-8113.firebaseIO.com/albums');
			fb.on('child_added', function(snapshot) {
				albums.push(snapshot.val());
				rebind();
			});

			var rebind = function() {
				var group = back.selectAll(".node")
				.data(albums);

				group.enter().append("g")
					.attr("class","node")
					.append("image")
					.on('click', function() {
						console.log('swag');
					})
					.attr("x", function(d, i) {
						return (i % maxHorizontalAlbums) * 100;
					})
					.attr("y", function(d, i) {
						var coeff = Math.floor(i / maxHorizontalAlbums);
						return 100 * coeff;
					})
					.attr("width",100)
					.attr("height", 100)
					.attr("xlink:href", function(d, i) {
						return d.image;
					})
					.style("opacity", 0)
					.transition().duration(2000)
					.delay(function(d, i) {
						if(i == currentNumAlbums) {
							currentNumAlbums++;
							return 0;
						}
						return (i/currentNumAlbums) * duration;
					})
					.style("opacity", 100);
					
			};
			
	block content