!!! 5
html(lang='en')
	head
		script(src="http://code.jquery.com/jquery-1.9.1.js")
		title claudio
		link(rel='stylesheet' href='/stylesheets/style.css')
	body
		.fullScreenDiv
			.center Claudio Wilson