doctype html
html(lang='en')
	head
		title claudio
		script(src="https://code.jquery.com/jquery-1.9.1.js")
		script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.js")
		script(src="https://cdn.firebase.com/js/client/1.0.11/firebase.js")
		script(src="/bower_components/d3/d3.min.js")
		link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
		link(rel='stylesheet' href='/stylesheets/style.css')
	body
		svg#background
		#sidebar
				#header
					h4
						.container
							a(href="/")
								| CLAUDIO 
								br 
								| WILSON
				.container
					ul
						li
							a(href="/index") About
						li
							a(href="/blog/index") Blog
						li
							a(href="/projects") Projects
						li
							a(href="/contact") Contact
						li 
							a(href="http://www.github.com/claudiowilson") Github
						li 
							a(href="http://www.twitter.com/claudiyoh") Twitter
		#footer

		#albumClick
			img(src="" id="album600")
			p(class="albumName")
			p(class="artistName")
			p(id="location")
			hr
			#songs
				p(style="font-size:large") Tracks


		script.
			var back = d3.select("#background");
			var svgHeight = $("#background").height();
			var svgWidth = $("#background").width();
			var duration = 5000;
			var currentNumAlbums = !{count};
			var maxVerticalAlbums = Math.floor(svgHeight/100);
			var maxHorizontalAlbums = Math.floor(svgWidth/100);
			var totalMaxAlbums = maxVerticalAlbums * maxHorizontalAlbums;
			var numberOfPages = Math.floor(currentNumAlbums/totalMaxAlbums);

			var albums = [];
			var onScreenAlbums = [];
			var currentPage = Math.floor(Math.random() * numberOfPages);
			var fb = new Firebase('https://glowing-fire-8113.firebaseIO.com/albums');

			fb.on('child_added', function(snapshot) {
				albums.push(snapshot.val());
				filterAlbums(currentPage);
			});

			var filterAlbums = function(pageNum) {
				onScreenAlbums = albums.filter(function(album, index) {
					if (index >= (pageNum * totalMaxAlbums)) {
						return album;
					}
				});
				rebind();
			}
			var rebind = function() {
				var group = back.selectAll(".node")
				.data(onScreenAlbums);

				group.enter().append("g")
					.attr("class","node")
					.append("image")
					.on('click', function(d, i) {
						var location = getLocationText(d.location);
						$('#songs').empty();
						$('#albumClick > .albumName').text(d.album);
						$('#albumClick > .artistName').text(d.artist);
						$('#location').text(location);
						$('#album600').attr('src', d.image.replace('100x100', '600x600'));
						$.ajax({
							type : "GET",
							url : "/getsongs/" + d.id,
							success : function(data) {
								$('#songs').append('<p style="font-size:large">Songs</p>');
								data.forEach(function(item) {
									if(item && item.title && item.preview) {
										$('#songs').append('<p>' + item.title + '</p><audio controls width=600px><source src="' + item.preview + '"type="audio/mp4"/></audio>');
									}
								});
							}
						});
						$('#albumClick').show();
					})
					.attr("x", function(d, i) {
						return (i % maxHorizontalAlbums) * 100;
					})
					.attr("y", function(d, i) {
						var coeff = Math.floor(i / maxHorizontalAlbums);
						return 100 * coeff;
					})
					.attr("width",100)
					.attr("height", 100)
					.attr("xlink:href", function(d, i) {
						return d.image;
					})
					.style("opacity", 0)
					.transition().duration(2000)
					.delay(function(d, i) {
						if(i == currentNumAlbums) {
							currentNumAlbums++;
							return 0;
						}
						return (i/currentNumAlbums) * duration;
					})
					.style("opacity", 100);

					group.exit().remove();
					
			};

			var getLocationText = function(location) {
				var text = "Added by someone in ";
				if (location.city) {
					text += location.city + ', ';
				}

				if (location.region) {
					text += location.region + ', ';
				}

				if (location.country) {
					text += location.country;
				}

				return text;
			}

			$(window).keydown(function(event) {
				if(event.keyCode == 27) {
					$('#albumClick').hide();
				}
			});

			for(var i = 0; i <= numberOfPages; i++) {
				if( i == currentPage) {
					$('#footer').append('<span class="selected" onclick="filterAlbums(' + i + ')">' + i + '</span>');
				} else {
					$('#footer').append('<span onclick="filterAlbums(' + i + ')">' + i + '</span>');
				}
				
			}
			
	block content