@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Signika:400,700");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow: hidden;
}
::-webkit-input-placeholder { 
  font-family: 'Open Sans', sans-serif;
 }
::-moz-placeholder {   
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  } /* firefox 19+ */
:-ms-input-placeholder {   
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  } /* ie */
input:-moz-placeholder {   
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
}
.content {
  margin-top: 15.5em;
  margin-left: 30em;
  float: left;
}
.container {
  border: 2px solid #000;
}
.scroll {
  overflow: scroll;
}
.container:hover {
  opacity: 1;
}
.node:hover {
  cursor: pointer;
  opacity: 0.5;
}
#sidebar {
  font-family: 'Signika', sans-serif;
  margin-left: 12em;
  margin-top: 5em;
  position: fixed;
  float: left;
}
#submitAlbum {
  display: block;
}
#sidebar ul {
  padding: 0;
}
#sidebar li {
  font-size: 1.25em;
  list-style-type: none;
  margin-top: 10px;
}
#sidebar a,
#sidebar a:link {
  text-decoration: none;
  color: #000;
}
#sidebar a:hover {
  font-weight: 700;
}
#sidebar a:visited {
  color: #000;
}
#header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}
#background {
  position: fixed;
  z-index: -2;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.albumName {
  margin-top: 10px;
  font-size: large;
}
.artistName {
  margin-top: -10px;
  font-size: small;
}
#album {
  float: left;
  border-style: solid;
  border-width: 2px;
  margin-right: 5px;
}
#albumAdd {
  margin-top: 10px;
}
.container {
  background-color: #fff;
  padding: 10px;
}
#albumSelection {
  overflow: hidden;
  margin-top: 20px;
}
#albums {
  border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  width: 150px;
  height: 20px;
}
#resultText {
  margin-left: 10px;
  display: none;
}
#albumClick {
  height: 700px;
  width: 700px;
  position: fixed;
  top: 10%;
  left: 25%;
  border: 2px solid #000;
  background: #fff;
  overflow: scroll;
  font-size: small;
  z-index: 999;
}
#footer > span {
  margin-left: 15px;
  font-size: x-large;
  font-family: 'Signika', sans-serif;
  cursor: pointer;
}
.blogcontainer {
  max-width: 40%;
  max-height: 70%;
  margin-top: 7.4em;
  margin-left: 30em;
  float: left;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #000;
  position: absolute;
  overflow: hidden;
}
.albums > img {
  cursor: pointer;
  border: 2px solid transparent;
}
.albums > img:hover {
  border-color: #000;
}
#albumInput {
  margin-top: 1em;
  margin-bottom: 1em;
}
.selected {
  color: #f00;
}
td + td {
  padding-left: 20px;
}
#albumClick > * {
  margin-left: 50px;
}
#album600 {
  margin-top: 50px;
}
.ui-autocomplete {
  font-family: 'Open Sans', sans-serif;
}
.ui-autocomplete img {
  float: left;
}
.ui-autocomplete span {
  margin-left: 5px;
}
.ui-autocomplete-loading {
  background: #fff url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}
