<div class="blogcontainer">
  <div class="hidden">
    <p>Hi, my name is Claudio Wilson. </p>
    <p>I'm a Computer Science student at the University of Texas at Austin and full stack developer.</p>	Visiting? Leave an album cover of your choice on my background!
    <p>
		<input id="albums" placeholder="Artist? Album name?" autocomplete>
		<span id ="resultText" ng-model="result">{{result}}</span>
		<input type="hidden" id="index" ng-model="index" name="index" />
		<div id="albumSelection" ng-show="image">
			<img ng-src="{{image}}" id="album" height="100" width="100"></img>
			<div id="albumText">
				<p class="albumName" ng-model="albumName">{{albumName}}</p>
				<p class="artistName" ng-model="artistName">{{artistName}}</p>
			</div>
			<button id="submitAlbum" ng-click="submitAlbum()"> Submit</button>
		</div>
    </p>
  </div>
</div>
